<% content_for :page_title do %>
  <%= Spree.t('komplex.vendors.title') %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Komplex::Vendor) %>
    <%= link_to Spree.t('komplex.vendors.new'), new_admin_vendor_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @vendors.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= Spree.t('komplex.vendors.name') %></th>
          <th><%= Spree.t('komplex.vendors.status') %></th>
          <th><%= Spree.t('komplex.vendors.email') %></th>
          <th><%= Spree.t('komplex.vendors.listings_count') %></th>
          <th><%= Spree.t('komplex.vendors.created_at') %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
          <tr>
            <td><%= vendor.name %></td>
            <td><span class="badge badge-<%= vendor.approved? ? 'success' : 'warning' %>"><%= vendor.status %></span></td>
            <td><%= vendor.email %></td>
            <td><%= vendor.listings.count %></td>
            <td><%= vendor.created_at.to_date %></td>
            <td class="actions">
              <% if can?(:edit, vendor) %>
                <%= link_to_edit vendor, no_text: true, class: 'edit' %>
              <% end %>
              <% if can?(:approve, vendor) && !vendor.approved? %>
                <%= link_to Spree.t('komplex.vendors.approve'), approve_admin_vendor_path(vendor), method: :post, class: 'btn btn-success btn-sm' %>
              <% end %>
              <% if can?(:reject, vendor) && !vendor.rejected? %>
                <%= link_to Spree.t('komplex.vendors.reject'), reject_admin_vendor_path(vendor), method: :post, class: 'btn btn-danger btn-sm' %>
              <% end %>
              <% if can?(:listings, vendor) %>
                <%= link_to Spree.t('komplex.vendors.listings'), listings_admin_vendor_path(vendor), class: 'btn btn-info btn-sm' %>
              <% end %>
              <% if can?(:commissions, vendor) %>
                <%= link_to Spree.t('komplex.vendors.commissions'), commissions_admin_vendor_path(vendor), class: 'btn btn-info btn-sm' %>
              <% end %>
              <% if can?(:payouts, vendor) %>
                <%= link_to Spree.t('komplex.vendors.payouts'), payouts_admin_vendor_path(vendor), class: 'btn btn-info btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @vendors %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t('komplex.vendors.no_vendors_found') %>
  </div>
<% end %>
