<% content_for :page_title do %>
  <%= Spree.t('komplex.vendors.listings_for', name: @vendor.name) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to Spree.t('komplex.vendors.back_to_vendor'), admin_vendor_path(@vendor), class: 'btn btn-primary' %>
<% end %>

<% if @listings.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= Spree.t('komplex.listings.name') %></th>
          <th><%= Spree.t('komplex.listings.status') %></th>
          <th><%= Spree.t('komplex.listings.price') %></th>
          <th><%= Spree.t('komplex.listings.created_at') %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.name %></td>
            <td><span class="badge badge-<%= listing.approved? ? 'success' : 'warning' %>"><%= listing.status %></span></td>
            <td><%= listing.display_price %></td>
            <td><%= listing.created_at.to_date %></td>
            <td class="actions">
              <% if can?(:edit, listing) %>
                <%= link_to_edit_url admin_listing_path(listing), no_text: true, class: 'edit' %>
              <% end %>
              <% if can?(:show, listing) %>
                <%= link_to Spree.t('komplex.listings.view'), admin_listing_path(listing), class: 'btn btn-info btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @listings %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t('komplex.listings.no_listings_found') %>
  </div>
<% end %>
