<% content_for :page_title do %>
  <%= @vendor.name %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:edit, @vendor) %>
    <%= link_to Spree.t('actions.edit'), edit_admin_vendor_path(@vendor), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to Spree.t('actions.back'), admin_vendors_path, class: 'btn btn-secondary' %>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <%= Spree.t('komplex.vendors.details') %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.name') %></label>
          <p><%= @vendor.name %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.user') %></label>
          <p><%= @vendor.user.try(:email) %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.commission_rate') %></label>
          <p><%= @vendor.commission_rate %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.status') %></label>
          <p><span class="badge badge-<%= @vendor.approved? ? 'success' : 'warning' %>"><%= @vendor.status %></span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.total_sales') %></label>
          <p><%= @vendor.total_sales %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.total_commission_paid') %></label>
          <p><%= @vendor.total_commission_paid %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.pending_payout_amount') %></label>
          <p><%= @vendor.pending_payout_amount %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label><%= Spree.t('komplex.vendors.created_at') %></label>
          <p><%= @vendor.created_at.to_s(:long) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <%= Spree.t('komplex.vendors.actions') %>
  </div>
  <div class="card-body">
    <div class="btn-group">
      <% if can?(:approve, @vendor) && !@vendor.approved? %>
        <%= link_to Spree.t('komplex.vendors.approve'), approve_admin_vendor_path(@vendor), method: :post, class: 'btn btn-success' %>
      <% end %>
      <% if can?(:reject, @vendor) && !@vendor.rejected? %>
        <%= link_to Spree.t('komplex.vendors.reject'), reject_admin_vendor_path(@vendor), method: :post, class: 'btn btn-danger' %>
      <% end %>
      <% if can?(:listings, @vendor) %>
        <%= link_to Spree.t('komplex.vendors.listings'), listings_admin_vendor_path(@vendor), class: 'btn btn-info' %>
      <% end %>
      <% if can?(:commissions, @vendor) %>
        <%= link_to Spree.t('komplex.vendors.commissions'), commissions_admin_vendor_path(@vendor), class: 'btn btn-info' %>
      <% end %>
      <% if can?(:payouts, @vendor) %>
        <%= link_to Spree.t('komplex.vendors.payouts'), payouts_admin_vendor_path(@vendor), class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>