<div class="property-details">
  <div class="property-overview">
    <div class="property-feature">
      <i class="icon-bed"></i>
      <span><%= property.bedrooms %> Bedrooms</span>
    </div>
    <div class="property-feature">
      <i class="icon-bath"></i>
      <span><%= property.bathrooms %> Bathrooms</span>
    </div>
    <div class="property-feature">
      <i class="icon-area"></i>
      <span><%= property.area %> <%= property.area_unit %></span>
    </div>
    <div class="property-feature">
      <i class="icon-home"></i>
      <span><%= property.property_type.titleize %></span>
    </div>
    <div class="property-feature">
      <i class="icon-tag"></i>
      <span>For <%= property.listing_type.titleize %></span>
    </div>
    <% if property.furnished? %>
      <div class="property-feature">
        <i class="icon-furniture"></i>
        <span>Furnished</span>
      </div>
    <% end %>
    <% if property.available_from.present? %>
      <div class="property-feature">
        <i class="icon-calendar"></i>
        <span>Available from <%= property.available_from.strftime("%B %d, %Y") %></span>
      </div>
    <% end %>
  </div>

  <% if property.amenities.present? %>
    <div class="property-amenities">
      <h3>Amenities</h3>
      <ul class="amenities-list">
        <% property.amenities.each do |amenity| %>
          <li>
            <% if amenity.icon.present? %>
              <i class="<%= amenity.icon %>"></i>
            <% end %>
            <%= amenity.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>