<% content_for :page_title do %>
  <%= Spree.t('komplex.promotions.title') %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:create, Komplex::Promotion) %>
    <%= link_to Spree.t('komplex.promotions.new'), new_admin_promotion_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @promotions.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= Spree.t('komplex.promotions.title') %></th>
          <th><%= Spree.t('komplex.promotions.promotion_type') %></th>
          <th><%= Spree.t('komplex.promotions.discount_amount') %></th>
          <th><%= Spree.t('komplex.promotions.vendor') %></th>
          <th><%= Spree.t('komplex.promotions.starts_at') %></th>
          <th><%= Spree.t('komplex.promotions.ends_at') %></th>
          <th><%= Spree.t('komplex.promotions.status') %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @promotions.each do |promotion| %>
          <tr>
            <td><%= promotion.title %></td>
            <td><%= promotion.promotion_type %></td>
            <td><%= promotion.discount_amount %></td>
            <td><%= promotion.vendor.try(:name) || Spree.t('komplex.promotions.platform_wide') %></td>
            <td><%= promotion.starts_at.to_date %></td>
            <td><%= promotion.ends_at.to_date %></td>
            <td>
              <% if promotion.active? %>
                <span class="badge badge-success"><%= Spree.t('komplex.promotions.active') %></span>
              <% elsif promotion.upcoming? %>
                <span class="badge badge-info"><%= Spree.t('komplex.promotions.upcoming') %></span>
              <% elsif promotion.expired? %>
                <span class="badge badge-warning"><%= Spree.t('komplex.promotions.expired') %></span>
              <% end %>
            </td>
            <td class="actions">
              <% if can?(:edit, promotion) %>
                <%= link_to_edit promotion, no_text: true, class: 'edit' %>
              <% end %>
              <% if can?(:destroy, promotion) %>
                <%= link_to_delete promotion, no_text: true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @promotions %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t('komplex.promotions.no_promotions_found') %>
  </div>
<% end %>