<div data-hook="admin_advertisement_form_fields">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :title, class: ['form-group'] do %>
        <%= f.label :title, Spree.t('komplex.advertisements.title') %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.error_message_on :title %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= f.field_container :vendor_id, class: ['form-group'] do %>
        <%= f.label :vendor_id, Spree.t('komplex.advertisements.vendor') %>
        <%= f.collection_select :vendor_id, @vendors, :id, :name, { include_blank: Spree.t('komplex.advertisements.platform_wide') }, class: 'select2' %>
        <%= f.error_message_on :vendor_id %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :placement, class: ['form-group'] do %>
        <%= f.label :placement, Spree.t('komplex.advertisements.placement') %>
        <%= f.select :placement, @placements, {}, class: 'select2' %>
        <%= f.error_message_on :placement %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= f.field_container :ad_type, class: ['form-group'] do %>
        <%= f.label :ad_type, Spree.t('komplex.advertisements.ad_type') %>
        <%= f.select :ad_type, @ad_types, {}, class: 'select2' %>
        <%= f.error_message_on :ad_type %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :starts_at, class: ['form-group'] do %>
        <%= f.label :starts_at, Spree.t('komplex.advertisements.starts_at') %>
        <%= f.text_field :starts_at, class: 'form-control datepicker' %>
        <%= f.error_message_on :starts_at %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= f.field_container :ends_at, class: ['form-group'] do %>
        <%= f.label :ends_at, Spree.t('komplex.advertisements.ends_at') %>
        <%= f.text_field :ends_at, class: 'form-control datepicker' %>
        <%= f.error_message_on :ends_at %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :cost, class: ['form-group'] do %>
        <%= f.label :cost, Spree.t('komplex.advertisements.cost') %>
        <%= f.text_field :cost, class: 'form-control' %>
        <%= f.error_message_on :cost %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= f.field_container :status, class: ['form-group'] do %>
        <%= f.label :status, Spree.t('komplex.advertisements.status') %>
        <%= f.select :status, ['pending', 'active', 'rejected'], {}, class: 'select2' %>
        <%= f.error_message_on :status %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, Spree.t('komplex.advertisements.description') %>
        <%= f.text_area :description, class: 'form-control', rows: 5 %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :listing_id, class: ['form-group'] do %>
        <%= f.label :listing_id, Spree.t('komplex.advertisements.listing') %>
        <%= f.collection_select :listing_id, @listings, :id, :title, { include_blank: Spree.t('komplex.advertisements.no_listing') }, class: 'select2' %>
        <%= f.error_message_on :listing_id %>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <%= f.field_container :image, class: ['form-group'] do %>
        <%= f.label :image, Spree.t('komplex.advertisements.image') %>
        <%= f.file_field :image, class: 'form-control' %>
        <%= f.error_message_on :image %>
      <% end %>
    </div>
  </div>
</div>