<% if can?(:manage, Komplex::Vendor) || can?(:manage, Komplex::Listing) || can?(:manage, Komplex::Promotion) || can?(:manage, Komplex::Advertisement) %>
  <li class="nav-item">
    <a class="nav-link d-flex align-items-center justify-content-between" data-toggle="collapse" href="#komplexMenu" role="button" aria-expanded="false" aria-controls="komplexMenu">
      <%= icon 'store' %>
      <%= Spree.t('komplex.title', default: 'Komplex') %>
      <%= icon 'chevron-down', class: 'collapse-arrow' %>
    </a>
    <div class="collapse" id="komplexMenu">
      <ul class="nav flex-column pl-4">
        <% komplex_menu_items.each do |item| %>
          <% if instance_exec(&item[:condition]) %>
            <li class="nav-item">
              <%= active_link_to komplex.send(item[:url]), class: 'nav-link' do %>
                <%= icon item[:icon] %>
                <%= Spree.t(item[:label], default: item[:label].to_s.humanize) %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>