<li class="main-nav-item">
  <a class="main-nav-link" href="<%= spree.listings_path %>">
    <%= Spree.t('komplex.listings.title', default: 'Listings') %>
  </a>
</li>
<li class="main-nav-item">
  <a class="main-nav-link" href="<%= spree.vendors_path %>">
    <%= Spree.t('komplex.vendors.title', default: 'Vendors') %>
  </a>
</li>
<% if spree_current_user && spree_current_user.vendor %>
  <li class="main-nav-item">
    <a class="main-nav-link" href="<%= spree.vendor_dashboard_path %>">
      <%= Spree.t('komplex.vendor_dashboard.title', default: 'Vendor Dashboard') %>
    </a>
  </li>
<% else %>
  <li class="main-nav-item">
    <a class="main-nav-link" href="<%= spree.new_vendor_path %>">
      <%= Spree.t('komplex.vendors.become_vendor', default: 'Become a Vendor') %>
    </a>
  </li>
<% end %>