<% if can?(:manage, Komplex::Vendor) || can?(:manage, Komplex::Listing) || can?(:manage, Komplex::Promotion) || can?(:manage, Komplex::Advertisement) %>
  <li class="nav-item">
    <a class="nav-link d-flex align-items-center justify-content-between" data-toggle="collapse" href="#komplexMenu" role="button" aria-expanded="false" aria-controls="komplexMenu">
      <%= icon 'store' %>
      <%= Spree.t('komplex.title', default: 'Komplex') %>
      <%= icon 'chevron-down', class: 'collapse-arrow' %>
    </a>
    <div class="collapse" id="komplexMenu">
      <ul class="nav flex-column pl-4">
        <% if can?(:manage, Komplex::Vendor) %>
          <li class="nav-item">
            <%= active_link_to komplex.admin_vendors_path, class: 'nav-link' do %>
              <%= icon 'store' %>
              <%= Spree.t('komplex.vendors.title', default: 'Vendors') %>
            <% end %>
          </li>
        <% end %>
        <% if can?(:manage, Komplex::Listing) %>
          <li class="nav-item">
            <%= active_link_to komplex.admin_listings_path, class: 'nav-link' do %>
              <%= icon 'list' %>
              <%= Spree.t('komplex.listings.title', default: 'Listings') %>
            <% end %>
          </li>
        <% end %>
        <% if can?(:manage, Komplex::Promotion) %>
          <li class="nav-item">
            <%= active_link_to komplex.admin_promotions_path, class: 'nav-link' do %>
              <%= icon 'gift' %>
              <%= Spree.t('komplex.promotions.title', default: 'Promotions') %>
            <% end %>
          </li>
        <% end %>
        <% if can?(:manage, Komplex::Advertisement) %>
          <li class="nav-item">
            <%= active_link_to komplex.admin_advertisements_path, class: 'nav-link' do %>
              <%= icon 'megaphone' %>
              <%= Spree.t('komplex.advertisements.title', default: 'Advertisements') %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>
